*{
    font-family: tahoma;
}
body{
    background-color: rgb(250, 213, 139);
}
.header{
    display: flex;
    background-color: rgb(255, 146, 100);
    padding: 10px;
}
.header-logo img{
    height: 100px;
}   
.header-title{
    margin-top: auto;
    margin-bottom: auto;
}
.header-title a{
    text-decoration: none;
    font-size: 28px;
    color: black;
    font-weight: bold;
}
.nav{
    background-color: rgb(109, 14, 14);
    padding: 10px;
    margin-top: 0px;
}
.nav-item{
    display: inline-block;
    margin-left: 20px;
    height: 20px;
}
.nav-item a{
    color: blanchedalmond;
    text-decoration: none;
    font-weight: bold;
}
.nav-item a:hover{
    color: cyan;
}
#amb{
    background-color: #ccc;
    width: 450px;
    margin: 40px auto;
    padding: 120px;
    border: 1px solid;
    border-radius: 20px;
    box-shadow: 0 0 8px black ;
}
.form-group{
    margin-bottom: 25px;
}
label{
    display: block;
    margin-bottom: 30px;
    font-weight: bold;
}
input[type="text"],
textarea {
  width: 90%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
h3{
    padding-bottom: 30px;
}
.footer{
    text-align: center;
}
.btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #3e8e41;
  }

  .konten{
    width: 80%;
    margin: auto;
}
.konten h1{
    color: rgb(87, 5, 5);
    font-size: 35px;
}
.konten h2{
    color: darkslateblue;
    font-size: 25px;
}
.tabel{
    border-spacing: 4px;
}
td>img{
    width: 200px;
}
.tabel-header{
    background-color: bisque;
}
.tabel-header th{
    padding: 10px;
    text-align: left;
}
.tabel-konten{
    background-color: beige;
}
.tabel-genap{
    background-color: rgb(40, 188, 188);
}
.tabel-konten td{
    padding: 10px;
}
.tabel-konten:hover{
    background-color: brown;
}
.form-group{
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-group label{
    display: block;
}
.form-group input{
    display: block;
    margin-top: 10px;
    width: 50%;
    background-color: bisque;
}

